# L칮kker og ordb칮ker

## Eksempel: For-l칮kke og ordbok

In [1]:
l칝rer = {
    "navn": "David Ravi Manikarnika",
    "alder": 39,
    "yrke":"L칝rer",
    "Favorittmat":["pasta", "grandiosa", "Databrus"],
    123: "favorittall", #Heltall kan ogs친 v칝re n칮kler,men det er litt vanskelig,
    ("alder", "yrke"): [39, "l칝rer"]# tupler ( en slags liste) kan ogs친 v칝re n칮kler, ikke vanlig i IT2
}


#oppvarming
#print navn i terminalen
#print Databrus i termninalen

In [2]:
for n칮kkel in l칝rer: #en for l칮kke som g친r gjennom en ordbok, vill g친 gjennom n칮kklene i ordboken
    print (n칮kkel)
    print(l칝rer[n칮kkel])

navn
David Ravi Manikarnika
alder
39
yrke
L칝rer
Favorittmat
['pasta', 'grandiosa', 'Databrus']
123
favorittall
('alder', 'yrke')
[39, 'l칝rer']

## Eksempel: Telling med ordb칮ker

In [3]:
f1_sj친f칮rer = [
    {"navn": "Lewis Hamilton", "nasjonalitet": "britisk", "team": "Mercedes", "bilnummer": 44},
    {"navn": "Daniel Ricciardo", "nasjonalitet": "australsk", "team": "McLaren", "bilnummer": 3},
    {"navn": "Lando Norris", "nasjonalitet": "britisk", "team": "McLaren", "bilnummer": 4},
    {"navn": "Esteban Ocon", "nasjonalitet": "fransk", "team": "Alpine", "bilnummer": 31},
    {"navn": "George Russell", "nasjonalitet": "britisk", "team": "Williams", "bilnummer": 63},
    {"navn": "Pierre Gasly", "nasjonalitet": "fransk", "team": "AlphaTauri", "bilnummer": 10},
]

lewis = f1_sj친f칮rer[0]
print(lewis)

for sj친f칮r in f1_sj친f칮rer:
    for n칮kkel in sj친f칮r:
        print(lewis[n칮kkel])

{'navn': 'Lewis Hamilton', 'nasjonalitet': 'britisk', 'team': 'Mercedes', 'bilnummer': 44}
Lewis Hamilton
britisk
Mercedes
44
Lewis Hamilton
britisk
Mercedes
44
Lewis Hamilton
britisk
Mercedes
44
Lewis Hamilton
britisk
Mercedes
44
Lewis Hamilton
britisk
Mercedes
44
Lewis Hamilton
britisk
Mercedes
44

In [7]:
antall_briter = 0
for sj친f칮r in f1_sj친f칮rer:
    if sj친f칮r ["nasjonalitet"] == "britisk":
        antall_briter += 1
print(f"Antall briter: {antall_briter}")

Antall briter: 3

In [9]:
nasjonaliteter = {}
nasjonaliteter ["britisk"] = 3
nasjonaliteter ["tysk"] = 2
print(nasjonaliteter)
print(nasjonaliteter["britisk"])

{'britisk': 3, 'tysk': 2}
3

In [11]:
antall_nasjonaliteter = {}
for sj친f칮r in f1_sj친f칮rer:
    nasjonalitet_sj친f칮r = sj친f칮r["nasjonalitet"]
    if nasjonalitet_sj친f칮r not in antall_nasjonaliteter:
        antall_nasjonaliteter [nasjonalitet_sj친f칮r] = 1
    else:
        antall_nasjonaliteter[nasjonalitet_sj친f칮r]+= 1

print(antall_nasjonaliteter)

{'britisk': 3, 'australsk': 1, 'fransk': 2}

## Oppgaver

### Oppgave 2.9

1. Kopier listen med vinnere av gullballen 游녢游녢 inn i en python-fil og print ordboken til den f칮rste spilleren.
2. Lag en for-l칮kke som printer navn og nasjonalitet p친 hver spiller.
3. Utvid koden slik at for-l칮kken ogs친 printer antall gullballer spillerne har vunnet.

In [4]:
gullballen = [
  {
    "navn": "Lu칤s Figo",
    "친r": [2000],
    "nasjonalitet": "Portugal",
    "klubber": ["Real Madrid"]
  },
  {
    "navn": "Michael Owen",
    "친r": [2001],
    "nasjonalitet": "England",
    "klubber": ["Liverpool"]
  },
  {
    "navn": "Ronaldo",
    "친r": [2002],
    "nasjonalitet": "Brasil",
    "klubber": ["Real Madrid"]
  },
  {
    "navn": "Pavel Nedv캩d",
    "친r": [2003],
    "nasjonalitet": "Tsjekkia",
    "klubber": ["Juventus"]
  },
  {
    "navn": "Andriy Shevchenko",
    "친r": [2004],
    "nasjonalitet": "Ukraina",
    "klubber": ["Milan"]
  },
  {
    "navn": "Ronaldinho",
    "친r": [2005],
    "nasjonalitet": "Brasil",
    "klubber": ["Barcelona"]
  },
  {
    "navn": "Fabio Cannavaro",
    "친r": [2006],
    "nasjonalitet": "Italia",
    "klubber": ["Real Madrid"]
  },
  {
    "navn": "Kak치",
    "친r": [2007],
    "nasjonalitet": "Brasil",
    "klubber": ["Milan"]
  },
  {
    "navn": "Cristiano Ronaldo",
    "친r": [2008, 2013, 2014, 2016, 2017],
    "nasjonalitet": "Portugal",
    "klubber": ["Manchester United", "Real Madrid"]
  },
  {
    "navn": "Lionel Messi",
    "친r": [2009, 2010, 2011, 2012, 2015, 2019, 2021, 2023],
    "nasjonalitet": "Argentina",
    "klubber": ["Barcelona", "Paris Saint-Germain F.C.", "Inter Miami"]
  },
  {
    "navn": "Luka Modric",
    "친r": [2018],
    "nasjonalitet": "Kroatia",
    "klubber": ["Real Madrid"]
  },
  {
    "navn": "Karim Benzema",
    "친r": [2022],
    "nasjonalitet": "Frankrike",
    "klubber": ["Real Madrid"]
  }
]

In [15]:
for navn in gullballen:
    print("navn")[gullballen]

navn

TypeError: 'NoneType' object is not subscriptable

### Oppgave 2.10

1. Kopier listen med informasjon over de 30 mest fulgte Instagram-kontoene 游녢游녢 inn i en python-fil.
2. Hvor mange f칮lgere har kontoene p친 listen i gjennomsnitt?
3. Hvor mange kontoer p친 listen kommer ikke fra USA?

In [5]:
top_30 = [
    {"name": "Cristiano Ronaldo", "account": "@cristiano", "followers": 617.16, "nationality": "Portugal"},
    {"name": "Leo Messi", "account": "@leomessi", "followers": 497.05, "nationality": "Argentina"},
    {"name": "Selena Gomez", "account": "@selenagomez", "followers": 429.66, "nationality": "United States"},
    {"name": "Kylie Jenner", "account": "@kyliejenner", "followers": 399.45, "nationality": "United States"},
    {"name": "Dwayne Johnson", "account": "@therock", "followers": 395.59, "nationality": "United States"},
    {"name": "Ariana Grande", "account": "@arianagrande", "followers": 380.78, "nationality": "United States"},
    {"name": "Kim Kardashian", "account": "@kimkardashian", "followers": 364, "nationality": "United States"},
    {"name": "Beyonc칠", "account": "@beyonce", "followers": 319.6, "nationality": "United States"},
    {"name": "Khlo칠 Kardashian", "account": "@khloekardashian", "followers": 311.3, "nationality": "United States"},
    {"name": "Nike", "account": "@nike", "followers": 306, "nationality": "United States"},
    {"name": "Justin Bieber", "account": "@justinbieber", "followers": 304.9, "nationality": "Canada"},
    {"name": "Taylor Swift", "account": "@taylorswift", "followers": 282.8, "nationality": "United States"},
    {"name": "Neymar Jr", "account": "@neymarjr", "followers": 282.7, "nationality": "Brazil"},
    {"name": "Kendall Jenner", "account": "@kendalljenner", "followers": 279.9, "nationality": "United States"},
    {"name": "Jennifer Lopez", "account": "@jlo", "followers": 277.2, "nationality": "United States"},
    {"name": "Nicki Minaj", "account": "@nickiminaj", "followers": 262.5, "nationality": "Trinidad and Tobago"},
    {"name": "National Geographic", "account": "@natgeo", "followers": 206.9, "nationality": "United States"},
    {"name": "Lionel Andr칠s Messi Cuccittini", "account": "@leomessi10", "followers": 201.8, "nationality": "Argentina"},
    {"name": "Miley Cyrus", "account": "@mileycyrus", "followers": 198.7, "nationality": "United States"},
    {"name": "Katy Perry", "account": "@katyperry", "followers": 198.4, "nationality": "United States"},
    {"name": "Kourtney Kardashian", "account": "@kourtneykardash", "followers": 196.8, "nationality": "United States"},
    {"name": "Kevin Hart", "account": "@kevinhart4real", "followers": 195.8, "nationality": "United States"},
    {"name": "Ellen DeGeneres", "account": "@theellenshow", "followers": 194.7, "nationality": "United States"},
    {"name": "Virat Kohli", "account": "@virat.kohli", "followers": 194.5, "nationality": "India"},
    {"name": "Billie Eilish", "account": "@billieeilish", "followers": 193.9, "nationality": "United States"},
    {"name": "Rihanna", "account": "@badgalriri", "followers": 191.5, "nationality": "Barbados"},
    {"name": "Zendaya", "account": "@zendaya", "followers": 190.9, "nationality": "United States"},
    {"name": "Drake", "account": "@champagnepapi", "followers": 190.8, "nationality": "Canada"},
    {"name": "Emma Watson", "account": "@emmawatson", "followers": 189.7, "nationality": "United Kingdom"},
    {"name": "LeBron James", "account": "@kingjames", "followers": 188.8, "nationality": "United States"}
]

### Oppgave 2.11

1. Kopier listen med informasjon over de 30 mest befolkede land 游녢游녢 inn i en python-fil og print ordboken til Argentina.
2. Lag en for-l칮kke som printer navn, hovedstad og antall spr친k for hvert land.
3. Hvilket land har flest spr친k?
4. Lag en ordbok som holder oversikt over spr친k og antall land som har spr친ket som offisielt spr친k.
    - Tips: Spr친k er en liste - du burde bruke en for-l칮kke som g친r gjennom spr친k inne i for-l칮kken for land.
5. Sorter ordboken og print ut spr친ket med flest land og antall land.
    - Tips: [les eksempel om sortering av ord칮ker med verdier](https://it2.thorcc.no/databehandling-og-algoritmer/lokker-lister-og-ordboker#sortering-av-ordb%C3%B8ker-med-verdier)
    - Fasit: `Engelsk: 7`

In [6]:
land_info = [
    {"land": "Kina", "hovedstad": "Beijing", "befolkning": 1410000000, "spr친k": ["Mandarin"]},
    {"land": "India", "hovedstad": "New Delhi", "befolkning": 1390000000, "spr친k": ["Hindi", "Engelsk"]},
    {"land": "USA", "hovedstad": "Washington, D.C.", "befolkning": 331000000, "spr친k": ["Engelsk"]},
    {"land": "Indonesia", "hovedstad": "Jakarta", "befolkning": 273000000, "spr친k": ["Indonesisk"]},
    {"land": "Pakistan", "hovedstad": "Islamabad", "befolkning": 225000000, "spr친k": ["Urdu", "Engelsk"]},
    {"land": "Brasil", "hovedstad": "Bras칤lia", "befolkning": 213000000, "spr친k": ["Portugisisk"]},
    {"land": "Nigeria", "hovedstad": "Abuja", "befolkning": 211000000, "spr친k": ["Engelsk"]},
    {"land": "Bangladesh", "hovedstad": "Dhaka", "befolkning": 166000000, "spr친k": ["Bengali"]},
    {"land": "Russland", "hovedstad": "Moskva", "befolkning": 146000000, "spr친k": ["Russisk"]},
    {"land": "Mexico", "hovedstad": "Mexico City", "befolkning": 128000000, "spr친k": ["Spansk"]},
    {"land": "Japan", "hovedstad": "Tokyo", "befolkning": 125000000, "spr친k": ["Japansk"]},
    {"land": "Etiopia", "hovedstad": "Addis Ababa", "befolkning": 118000000, "spr친k": ["Amharisk"]},
    {"land": "Filippinene", "hovedstad": "Manila", "befolkning": 113000000, "spr친k": ["Filippinsk"]},
    {"land": "Egypt", "hovedstad": "Kairo", "befolkning": 104000000, "spr친k": ["Arabisk"]},
    {"land": "Vietnam", "hovedstad": "Hanoi", "befolkning": 97400000, "spr친k": ["Vietnamesisk"]},
    {"land": "DR Kongo", "hovedstad": "Kinshasa", "befolkning": 90000000, "spr친k": ["Fransk"]},
    {"land": "Turkey", "hovedstad": "Ankara", "befolkning": 83700000, "spr친k": ["Tyrkisk"]},
    {"land": "Iran", "hovedstad": "Teheran", "befolkning": 83700000, "spr친k": ["Persisk"]},
    {"land": "Tyskland", "hovedstad": "Berlin", "befolkning": 83000000, "spr친k": ["Tysk"]},
    {"land": "Thailand", "hovedstad": "Bangkok", "befolkning": 70000000, "spr친k": ["Thai"]},
    {"land": "Frankrike", "hovedstad": "Paris", "befolkning": 67000000, "spr친k": ["Fransk"]},
    {"land": "Storbritannia", "hovedstad": "London", "befolkning": 67000000, "spr친k": ["Engelsk"]},
    {"land": "Italia", "hovedstad": "Roma", "befolkning": 60300000, "spr친k": ["Italiensk"]},
    {"land": "S칮r-Afrika", "hovedstad": "Pretoria, Cape Town, Bloemfontein", "befolkning": 60000000,
     "spr친k": ["Afrikaans", "Engelsk", "isiNdebele", "isiXhosa", "isiZulu", "sesotho", "Setswana", "siSwati", "Tshivenda", "Xitsonga"]},
    {"land": "Myanmar", "hovedstad": "Naypyidaw", "befolkning": 54400000, "spr친k": ["Burmese"]},
    {"land": "S칮r-Korea", "hovedstad": "Seoul", "befolkning": 51700000, "spr친k": ["Koreansk"]},
    {"land": "Colombia", "hovedstad": "Bogot치", "befolkning": 50300000, "spr친k": ["Spansk"]},
    {"land": "Kenya", "hovedstad": "Nairobi", "befolkning": 49000000, "spr친k": ["Swahili", "Engelsk"]},
    {"land": "Spania", "hovedstad": "Madrid", "befolkning": 47000000, "spr친k": ["Spansk"]},
    {"land": "Argentina", "hovedstad": "Buenos Aires", "befolkning": 45000000, "spr친k": ["Spansk"]},
]

In [19]:
antall_land_spr친k = {}

for land in land_info:
    for spr친k in land ["spr친k"]:
        if spr친k not in a ntall_land_spr친k:
            antall_land_spr친k[spr친k] = 1
        else:
            antall_land_spr친k[spr친k] += 1


antall_land_spr친k

{'Mandarin': 1,
 'Hindi': 1,
 'Engelsk': 7,
 'Indonesisk': 1,
 'Urdu': 1,
 'Portugisisk': 1,
 'Bengali': 1,
 'Russisk': 1,
 'Spansk': 4,
 'Japansk': 1,
 'Amharisk': 1,
 'Filippinsk': 1,
 'Arabisk': 1,
 'Vietnamesisk': 1,
 'Fransk': 2,
 'Tyrkisk': 1,
 'Persisk': 1,
 'Tysk': 1,
 'Thai': 1,
 'Italiensk': 1,
 'Afrikaans': 1,
 'isiNdebele': 1,
 'isiXhosa': 1,
 'isiZulu': 1,
 'sesotho': 1,
 'Setswana': 1,
 'siSwati': 1,
 'Tshivenda': 1,
 'Xitsonga': 1,
 'Burmese': 1,
 'Koreansk': 1,
 'Swahili': 1}